body {
  text-align: center;
  padding: 150px;
  background-color: #d5eeed;
  font: 20px Helvetica, sans-serif;
  color: #0a3d3f;
  margin: auto;
}
h1 {
  font-size: 40px;
}

#article {
  display: block;
  text-align: left;
  width: 650px;
  margin: 0 auto;
}
a {
  color: #36c5ba;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #0a3d3f;
  text-decoration: none;
}
img {
  text-align: center;
  width: 30%;
}
.textCenter {
  text-align: center;
}

@media screen and (max-width: 480px) {
  body {
    padding: 10% 10%;
    font-size: 30px;
  }

  #article {
    width: 100%;
    margin: none;
  }

  img {
    width: 50%;
  }
}
